# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.vscode
.idea/
*.iml
*.ipr
*.iws

# Environment variables
.env
.env.*
